@media screen and (max-width:479px) {
    
    
    .nav{
        display: none;
    }
    
    .nav ul {
        display: contents;
        justify-content: space-between;
    }

    .nav li {
        list-style: none;
        padding: 30px 15px 0 15px;
    }

    .nav a {
        font-size: 1.5rem;
    }
    
    .header_title{
        height: 100vh;
    }

    .header_title h2 {
        font-size: 1.5rem;
    }

    .sec_title {
        font-size: 2rem;
        padding: 20% 2%;
    }

    .intro_con {
        display: block;
    }

    .intro_con img{
        width: 100%;
    }

    .intro_group {
        width: 100%;
        margin: 40px 0px 0px 0px;
    }

    .intro_group p {
        padding: 0;
    }

    iframe {
        width: 90%;
    }


}
