@media screen and (max-width:479px) {

    .tab ul {
        display: contents;
        justify-content: space-between;
    }

    .tab li {
        list-style: none;
        padding: 30px 15px 0 15px;
    }

    .tab a {
        font-size: 1.5rem;
    }

    .sec_title {
        font-size: 2.8rem;
        padding: 20% 2%;
    }
    
    .intro_group {
    width: 100%;
    margin: 20px;
}
    
    .intro_group p {
    padding: 0;
}
    
    iframe{
        width: 90%;
    }


}
