body {
    font-family: 'Futura', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Arial', 'Meiryo UI', sans-serif;
}

p {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3';
}

/*ヘッダーとフッターのCSS*/

.header {
    height: 100vh;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;

}

.nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 48px;
}

.nav li {
    list-style: none;
    padding: 30px 15px 0 15px;
}

.nav a {
    text-decoration: none;
    display: block;
    font-size: 1.7rem;
    color: #fff;
    transition: 0.9s;
}

.nav a:hover {
    color: #3d5cdb;
}

a:hover {
    box-shadow: 2px 2px 12px rgba(51, 51, 51, 0.4);
}


.header_title {
    height: 80vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header_title img {
    width: 70%;
}

.header_title h2 {
    color: #fff;
    font-size: 2.8rem;
    font-style: italic;
    margin-top: 30px;
}


footer {
    text-align: center;
}

footer p {
    font-family: 'Futura';
    color: #3d5cdb;
    padding: 20px
}


/*よくわからない左上の四角？(多分canvas)を見えなくする*/

